<form (submit)="cadastrarAluno($event)">
  <div>
    <label for="nome">Nome:</label>
    <input type="text" placeholder="Nome" [formField]="alunoForm.nome">
    @if (alunoForm.nome().touched() && alunoForm.nome().invalid()){
      @for (error of alunoForm.nome().errors(); track error.kind) {
        <span>{{error.message}}</span>
      }
    }
  </div>
  <div>
    <label for="media">Média:</label>
    <input type="text" inputmode="numeric" placeholder="Média" [formField]="alunoForm.media" step="0.01">
    @if (alunoForm.media().touched() && alunoForm.media().invalid()){
      @for (error of alunoForm.media().errors(); track error.kind) {
        <span>{{error.message}}</span>
      }
    }
  </div>
  <button type="submit">Cadastrar</button>
</form>

<div class="listaItens">
<h2>Lista de Alunos Cadastrados</h2>
<div class="cadaAluno">
    @for (aluno of alunos(); track aluno.nome) {
      <div class="listaAluno">
        <p> Aluno: {{aluno.nome}} | Média: {{aluno.media}} | </p> 
      
    @if (aluno.media !== null) {
          @if (aluno.media >= 7) {
          <strong><p style="color: rgb(61, 94, 2);"> Aprovado</p></strong>
        } @else {
          <strong><p style="color: rgb(138, 24, 24);"> Reprovado</p></strong>
        }
      }
      </div>
    }

    @empty {
        <p>Nenhum aluno cadastrado.</p>
    }
</div>
</div>
